 
<div class="card" style="background-color: black; width:25%; margin-left: auto; margin-right: auto; border-radius:10px; padding-bottom:10px; padding-top:10px;" >
    <h1 class="card-title" style="color: white; text-align:center;">{{idB}}</h1>
    <img class="card-img-top" src="{{byronIMG}}" style="border-radius:10px; margin-left: auto; margin-right: auto; display:block;">
    <div class="card-body">
        
        <h4 class="card-title" style="color: white; text-align:center;">{{firstNameB}} {{lastNameB}}</h4>
        <p class="card-text" style="text-align: center; color: white;">{{emailB}}</p>
        <a href="/george" style=" padding-left:130px; color:red; text-decoration:none;"> Go to George...</a>
    </div>
</div>
