 
<div class="lindsay" style="background-color: black; width:25%; margin-top: 80px;margin-left: auto; margin-right: auto; border-radius:10px; padding-bottom:10px; padding-top:10px;" >
    <h1 class="card-title" style="color: white; text-align:center;">{{idL}}</h1>
    <img class="card-img-top" src="{{lindsayIMG}}" style="border-radius:10px; margin-left: auto; margin-right: auto; display:block;">
    <div class="card-body">
        
        <h4 class="card-title" style="color: white; text-align:center;">{{firstNameL}} {{lastNameL}}</h4>
        <p class="card-text" style="text-align: center; color: white;">{{emailL}}</p>
        
    </div>
</div>
