 
<div class="card" style="background-color: black; width:25%; margin-left: auto; margin-right: auto; border-radius:10px; padding-bottom:10px; padding-top:10px;" >
    <h1 class="card-title" style="color: white; text-align:center;">{{idM}}</h1>
    <img class="card-img-top" src="{{michaelIMG}}" style="border-radius:10px; margin-left: auto; margin-right: auto; display:block;">
    <div class="card-body">
        
        <h4 class="card-title" style="color: white; text-align:center;">{{firstNameM}} {{lastNameM}}</h4>
        <p class="card-text" style="text-align: center; color: white;">{{emailM}}</p>
        <a href="/lindsay" style=" padding-left:130px; color:red; text-decoration:none;"> Go to Lindsay...</a>
    </div>
</div>

{{!-- <div class="container" style="background-color:aqua; width:50%;">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="{{michaelIMG}}" alt="Card image" style="display:block; margin-left: auto; margin-right: auto;">
    <div class="card-body">
      <h4 class="card-title" style="text-align:center;">{{firstNameM}} {{lastNameM}}</h4>
      <p class="card-text" style="text-align:center;">{{emailM}}</p>
      
    </div>
  </div> --}}