 
<div class="michael" style="background-color: black; width:25%; margin-left: auto; margin-right: auto; border-radius:10px; padding-bottom:10px; padding-top:10px; margin-top:80px;" >
    <h1 class="card-title" style="color: white; text-align:center;">{{idM}}</h1>
    <img class="card-img-top" src="{{michaelIMG}}" style="border-radius:10px; margin-left: auto; margin-right: auto; display:block;">
    <div class="card-body">
        
        <h4 class="card-title" style="color: white; text-align:center;">{{firstNameM}} {{lastNameM}}</h4>
        <p class="card-text" style="text-align: center; color: white;">{{emailM}}</p>
        
    </div>
</div>

