 
<div class="card" style="background-color: black; width:25%; margin-left: auto; margin-right: auto; border-radius:10px; padding-bottom:10px; padding-top:10px;" >
    <h1 class="card-title" style="color: white; text-align:center;">{{idT}}</h1>
    <img class="card-img-top" src="{{tobiasIMG}}" style="border-radius:10px; margin-left: auto; margin-right: auto; display:block;">
    <div class="card-body">
        
        <h4 class="card-title" style="color: white; text-align:center;">{{firstNameT}} {{lastNameT}}</h4>
        <p class="card-text" style="text-align: center; color: white;">{{emailT}}</p>
        <a href="/byron" style=" padding-left:130px; color:red; text-decoration:none;"> Go to Byron...</a>
    </div>
</div>
